<!-- Navbar -->
<navbar></navbar>
<!-- Navbar Ende -->


<div class="container">

  <div class="row">
    <div class="col-3">
    <nav id="main-navigation">
      <a routerLink="/overview-categories">Übersichtsseite Kategorien</a>
    </nav>
    </div>
    
    <main role="main" class="container">
    
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
    
    </main><!-- /.container -->


    <div class="col-9">
      <router-outlet></router-outlet>
      <!--
        "Inhalte" der Komponente werden über das router-outlet in die Anwendung gerendert.
        <router-outlet> wird ersetzt durch den Inhalt der aktiven Komponente.
       -->
    </div>

  </div>

</div>
